@import 'nib'

red = #cc3d33

body, input
  font: 14px Lucida Grande, sans-serif;
  color: #666;

/*
small.heart
  position:absolute;
  font-size:10px;
  right:0;
  padding:1em;

pre.sh
  background:#fff;
  padding:0.4em 0;

pre.sh::before
  content: "$ "

body
  background: #C3BDB3;
  border-top: solid 6px red;
  text-align: center;
 */

// migrate

.content
  padding: 3px;
  background-color: #EEE;
  border-radius: 3px;

.head-wrap
  padding: 10px;
  text-shadow: 0 1px 0 white;
  border: 1px solid #CACACA;
  border-bottom: 0 none;
  background: linear-gradient(top, #FAFAFA,#EAEAEA);

.body-wrap
  background-color: white;
  border: 1px solid #CACACA;
  padding: 25px

.url
  color: #555;
  text-shadow: 0 1px 0 white;
  border-bottom: 0 none;
